.button-container {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.button-container button {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #8aadf4;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.button-container button.secondary {
    background-color: #b7bdf8;
}

.button-container button.outline {
    background-color: transparent;
    border: 1px solid #8aadf4;
    color: #8aadf4;
}

.button-container button.icon {
    background-color: transparent;
    border: none;
    color: #8aadf4;
}