<div class="half-column">
    <div    class="card" 
            ui_type="mini-card"
            id="{{ card['mini-card'].id }}" 
            data_id="{{ card['mini-card'].data }}"

            payload_on="{{ card['mini-card'].payload_on }}" 
            payload_off="{{ card['mini-card'].payload_off }}" 
    >
        <h3> {{ card['mini-card'].title }} </h3>
        <p class="b">on</p>
        <div class="mini-card-bottom-container">
            <div class="onoffswitch">
                <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="onoffswitch-{{ card['mini-card'].id }}" tabindex="0" onchange="on_ui_event(this, '{{ card['mini-card'].id }}')" checked >
                <label class="onoffswitch-label" for="onoffswitch-{{ card['mini-card'].id }}"></label>               
            </div>
            {% if 'image' in card['mini-card'] %}
                <img src="{{ card['mini-card'].image }}" alt="{{ card['mini-card'].title }}" style="width:40px;height:40px;" />
            {% else %}
                {% set icon_prefix, icon_suffix = card['mini-card'].icon.split('::') %}
                {% if icon_prefix == 'CSS' %}
                <span class="{{ icon_suffix }} sidebar-icon" style="height: 40px; width: 40px; color: #b7bdf8;"></span>
                {% else %}
                <span class="material-symbols-rounded sidebar-icon" style="font-size: 40px; color: #b7bdf8;">{{ icon_suffix }}</span>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>